#top {
	font-size: 24px;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	vertical-align: middle;
	word-spacing: normal;
	text-align: center;
	top: auto;
	background-image: url("https://images.pexels.com/photos/1579060/pexels-photo-1579060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-position: left center;
	background-repeat: repeat;
}

#form {
	vertical-align: middle;
	text-align: center;

	
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	line-height: 20px;
	text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 24px;
}
#form2 {
	text-align: center;
	vertical-align: middle;
  font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 24px;
}
#last {
	background-image: url("https://images.pexels.com/photos/1579060/pexels-photo-1579060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: repeat-y;
	background-position: center;
	background-attachment: scroll;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 24px;
	text-align: left;
	vertical-align: middle;
	color: #000;
}